

<h1>Tránsito Fluido</h1>

<p class="parrafo2">Aplicación desarrolla para dispositivos android que permitirá por medio de una inscripción previa, los empleados del 
distrito y/ o universidades de la localidad La Candelaria, puedan adquirir o prestar el servicio de transporte particular
desde y hasta su lugar de residencia, buscando con esto disminuir el flujo de carros que ingresan al centro de la ciudad. </p>


<div>
<%= image_tag("carro.jpg", :alt => "rss feed", size: "700x500") %>
</div>

<p > La problemática de la comunidad se origina en que muchas personas de la ciudad estudian y trabajan en el 
sector complicando el tránsito del mismo, la gran afluencia de gente pone a prueba la paciencia de los habitantes 
que en ocasiones es llevada al límite propiciando inconvenientes de convivencia.
</p>

  

